#team {
  height: 100vh;
  background-image: linear-gradient(0deg, #fff 60%, #F4F4F4 40%);
  .fa-heart {
    color: #D23333;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .medium {
    width: 150px;
  }
}
